{% extends "AppEscuela1/base.html" %}

{% block title %}Lista de Cursos{% endblock %}

{% block content %}
    
    <h1>Lista de Cursos</h1>

     <div style="display: flex; justify-content: center; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">
        <form method="get" style="display: flex; gap: 0.5rem;">
            <input type="text" name="q" placeholder="Buscar por nombre..." class="input-busqueda">
            <button type="submit" class="btn">Buscar</button>
        </form>

        <a href="{% url 'AppEscuela1:crear_curso' %}" class="btn">
            Inscribir Nuevo
        </a>
    </div>

    <p>Selecciona un Curso para ver sus detalles:</p>
    <ul class="page-links">
        {% for curso in cursos %}
            <li>
                <a href="{% url 'AppEscuela1:detalle_cursos' curso.pk %}">
                {{ curso.nombre }}
            </a>
        </li>
        {% empty %}
            <li><a href="#">No hay cursos registrados</a></li>
        {% endfor %}
    </ul>
{% endblock %}