{% extends "AppEscuela1/detalle_base.html" %}

{% block title %}Detalle del Curso{% endblock %}

{% block detalle_contenido %}
    <h1 style="text-align: center; font-size: 1.8rem; margin-bottom: 1.5rem;">
        {{ curso.nombre }}</h1>
    <p><strong style="color: #c78df0;">Camada:</strong> {{ curso.camada }}</p>
    <p><strong style="color: #c78df0;">Profesor a Cargo:</strong> {{ curso.profesor }}</p>
    <p><strong style="color: #c78df0;">Fecha de Creación:</strong> {{ curso.fecha_creacion }}</p>

    <a href="{% url 'AppEscuela1:editar_curso' curso.pk %}" class="btn-editar">Editar Curso</a>

    <a href="{% url 'AppEscuela1:eliminar_curso' curso.id %}" class="btn" style="background-color: #c62828;">Eliminar</a>

{% endblock %}

{% block volver_url %}
    {% url 'AppEscuela1:lista_cursos' %}
{% endblock %}


