{% extends "AppEscuela1/base.html" %}
{% load static %}

{% block title %}Inicio - AppEscuela{% endblock %}

{% block content %}
    <img src="{% static 'AppEscuela1/img/logo.png' %}" alt="Logo AppEscuela" class="logo-home">
    <img src="{% static 'AppEscuela1/img/logo_nombre.png' %}" alt="Logo Nombre" style="height: 100px;">

    <h1>Inicio</h1>
    <p>Selecciona un enlace para continuar:</p>
    <ul class="page-links">
        <li><a href="{% url 'AppEscuela1:lista_estudiantes' %}">Estudiantes</a></li>
        <li><a href="{% url 'AppEscuela1:lista_profesores' %}">Profesores</a></li>
        <li><a href="{% url 'AppEscuela1:lista_cursos' %}">Cursos</a></li>
        <li><a href="{% url 'AppEscuela1:lista_entregables' %}">Entregables</a></li>
        <li><a href="{% url 'AppEscuela1:about' %}">Sobre Mí</a></li>
    </ul>
{% endblock %}
