{% extends "AppEscuela1/base.html" %}

{% block title %}Inicio - AppEscuela{% endblock %}

{% block content %}
    <h1>Inicio</h1>
    <p>Selecciona un enlace para continuar:</p>
    <ul class="page-links">
        <li><a href="{% url 'AppEscuela1:lista_estudiantes' %}">Lista de Estudiantes</a></li>
        <li><a href="{% url 'AppEscuela1:lista_profesores' %}">Lista de Profesores</a></li>
        <li><a href="{% url 'AppEscuela1:lista_cursos' %}">Lista de Cursos</a></li>
        <li><a href="{% url 'AppEscuela1:lista_entregables' %}">Lista de Entregables</a></li>
    </ul>
{% endblock %}
