{% extends "AppEscuela1/base.html" %}

{% block title %}Lista de Profesores{% endblock %}

{% block content %}
    <h1>Lista de Profesores</h1>

     <div style="display: flex; justify-content: center; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">
        <form method="get" style="display: flex; gap: 0.5rem;">
            <input type="text" name="q" placeholder="Buscar por nombre..." class="input-busqueda">
            <button type="submit" class="btn">Buscar</button>
        </form>

        <a href="{% url 'AppEscuela1:crear_profesor' %}" class="btn">
            Inscribir Nuevo
        </a>
    </div>

    <p>Selecciona un Profesor para ver sus detalles:</p>
    <ul class="page-links">
        {% for profesor in profesores %}
            <li>
                <a href="{% url 'AppEscuela1:detalle_profesores' profesor.pk %}">
                {{ profesor.nombre }} {{ profesor.apellido }}
            </a>
        </li>
        {% empty %}
            <li><a href="#">No hay profesores registrados</a></li>
        {% endfor %}
    </ul>
{% endblock %}