{% extends "AppEscuela1/base.html" %}

{% block title %}Lista de Profesores{% endblock %}

{% block content %}
    <h1>Lista de Profesores</h1>
    <p>Selecciona un profesor para ver sus detalles:</p>
    <ul class="page-links">
        {% for profesor in profesores %}
            <li><a href="#">{{ profesor.nombre }} {{ profesor.apellido }} - {{profesor.profesion}}</a></li>
        {% empty %}
            <li><a href="#">No hay profesores registrados</a></li>
        {% endfor %}
    </ul>
{% endblock %}